label {
  @apply block mt-4;
}
input, select, textarea {
  @apply mt-2 p-2 border w-full rounded;
}
button[type=submit] {
  @apply mx-auto mt-4;
  background-color: var(--color-secondary);
  color: var(--color-on-secondary);

  &:disabled, &[disabled] {
    background-color: var(--color-secondary-20);
    color: var(--color-on-secondary-20);
  }
}